body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 10px;
    background-color: #e67e22;
    z-index: 1010;
    box-sizing: border-box;
}

.logo::before,
.logo::after {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #e67e22 transparent transparent transparent;
}

.logo::before {
    left: 0;
    border-width: 30px 50px 0px 0px;
}

.logo::after {
    right: 0;
    border-width: 30px 0px 0px 50px;
}


hr {
    width: 100%;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 70%;
}

.contact-info span {
    margin: 0 10px;
    font-size: 16px;
    color: #adadad;
}

.head-info {
    width: 100%;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}


.bottom-bar span {
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;

}

aside {
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 1000;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #e67e22;
    z-index: 1010;
}

.discount::before,
.discount::after {
    content: "";
    position: absolute;
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
}

.discount::before {
    left: 0;
    border-width: 0px 50px 30px 0;
    border-color: transparent transparent #e67e22 transparent;
}

.discount::after {
    right: 0;
    border-width: 0 0 30px 50px;
    border-color: transparent transparent #e67e22 transparent;
}


nav {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 50px;
}


.pizzas-header {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #ffffff;
}

.pizzas-header h1 {
    margin: 0 0 20px;
}

.pizzas-header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;

}

main {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    margin-top: 80px;
    background-color: #ffffff;

}

aside {
    background-color: #ffffff;
    padding: 20px;
}

.pizzas {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.pizza_container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 25px;
    flex: 1;
}

.pizza {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pizza .labelNew,
.pizza .labelPopular {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 100%;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1;
}

.labelPopular {
    background-color: #3ec434;
}

.labelNew {
    background-color: #d92d2d;
}

.pizza img {
    width: 100%;
}

.pizza .details {
    padding: 15px;
}

.pizza .details h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #e67e22;
}

.pizza .details .type {
    font-size: 12px;
    color: #8c8c8c;
}

.pizza .details p {
    font-size: 14px;
    color: #555;
}

.pizza .details .price {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pizza .details .price .price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.pizza .details .price .price-item .money {
    display: block;
    color: #333;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}

.pizza .details .price .price-item .currency {
    font-size: 16px;
    margin-bottom: 10px;
}

.pizza .details .price .price-item button {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 7%;
}

.pizza .details .price .price-item button:hover {
    background-color: #d35400;
}


.weightSize img {
    width: 70%;
    height: 70%;
}

.weightSize {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weightSize .thirtyCm,
.weightSize .fortyCm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.weightSize .thirtyCm .size,
.weightSize .thirtyCm .weight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weightSize .fortyCm .size,
.weightSize .fortyCm .weight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weightSize span {
    font-size: 14px;
    color: #000000;
}


.pizzas h1 {
    justify-content: center;

}

.order-summary h2 {
    white-space: nowrap;
}


h1 .badge,
h2 .badge {
    margin-left: 5px;
    background-color: rgb(239, 130, 13);
    padding: 2px 9px;
    border-radius: 50%;
    color: rgb(255, 255, 255);

}

.pizzas button {
    color: #e67e22;
    background-color: #ffffff;
    border-radius: 7%;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.pizzas .all {
    color: #ffffff;
    background-color: #e67e22;
}

.login {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10%;
}

.order-summary {
    background-color: #f8f8f8;
    padding: 20px;
    width: 25%;
    border-left: 1px solid #ddd;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary .delete {
    font-size: 12px;
    white-space: nowrap;
    color: #908e8e;
}

.order-summary h2 {
    white-space: nowrap;
}

.order-summary .price,
.order-summary .count {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-summary .name {
    font-size: 20px;
    font-weight: bold;
    color: #e67e22;
}

.order-summary ul {
    list-style: none;
    padding: 0;
}

.order-summary li {
    margin-bottom: 20px;
}

.order-summary .weightSize {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    white-space: nowrap;

}

.order-summary .weightSize .size,
.order-summary .weightSize .weight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;

}

.order-summary .size span,
.order-summary .weight span {
    font-size: 16px;
}

.order-summary img {
    width: 40%;
    height: 80%;
}

.order-summary .correctionSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.correctionSection .supply,
.correctionSection .add,
.correctionSection .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.correctionSection .supply {
    background-color: #d92d2d;
}

.correctionSection .add {
    background-color: #3ec434;
}

.correctionSection .cancel {
    background-color: #908e8e;
}

.order-summary .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}

.order-summary .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e67e22;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.order-summary .buy:hover {
    background-color: #d35400;
}

.order-summary .add:hover {
    background-color: #256a2c;
}

.order-summary .supply:hover {
    background-color: #c62b2b;
}

.order-summary .cancel:hover {
    background-color: #595553;
}


@media screen and (max-width: 1100px) {

    .head-info .contact {
        width: auto;
    }

    .order-summary {
        width: auto;
        border-left: none;
    }

    .header-row {
        width: auto;
        height: auto;
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px) {

    .pizza_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .pizza {
        width: auto;
        margin-bottom: 20px;
    }

    .pizza img {
        width: 100%;
        height: auto;
    }

    .details {
        padding: 10px;
    }


    .weightSize {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weightSize .thirtyCm,
    .weightSize .fortyCm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    .weightSize .thirtyCm .size,
    .weightSize .thirtyCm .weight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weightSize .fortyCm .size,
    .weightSize .fortyCm .weight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price .price-item {
        margin: 10px 0;
    }
}

@media screen and (max-width: 700px) {

    .contact {
        width: auto;
    }

    .pizzas-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pizzas-header h1 {
        font-size: 24px;
    }

    .pizzas-header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .pizzas-header nav ul li {
        margin: 5px 0;
    }

    .pizza_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pizza {
        width: auto;
        margin-bottom: 20px;
    }

    .pizza img {
        width: auto;
        height: auto;
    }

    .details {
        padding: 10px;
        text-align: center;
    }


    .weightSize {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weightSize .thirtyCm,
    .weightSize .fortyCm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    .weightSize .thirtyCm .size,
    .weightSize .thirtyCm .weight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weightSize .fortyCm .size,
    .weightSize .fortyCm .weight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price .price-item {
        margin: 10px 0;
    }

    .head-info .contact {
        width: auto;
        font-size: 10px;
    }

    .order-summary {
        width: auto;
        border-left: none;
    }

    .header-row {
        width: auto;
        height: auto;
        font-size: 10px;
    }

    .order-summary img {
        width: 100%;
        height: auto;
    }

    .order-summary .weightSize,
    .order-summary .correctionSection {
        flex-direction: row;
        align-items: flex-start;
    }

    .correctionSection .supply,
    .correctionSection .add,
    .correctionSection .cancel {
        width: auto;
    }

    .order-summary .buy {
        width: 100%;
    }
}